#pragma once

#define WIFI_SSID "your-ssid"
#define WIFI_PASS "your-password"

#define PING_HOST "192.168.1.100"

#define HA_HOST "192.168.1.100"
#define HA_PORT 8123
#define HA_PATH "/"

#define HEALTH_HOST "192.168.1.100"
#define HEALTH_PORT 8081
#define HEALTH_PATH "/"

#define SSH_HOST "192.168.1.100"
#define SSH_PORT 22
